<div class="row" style="margin-top:100px;">
		<button class="col-md-4 col-md-offset-4 btn btn-large btn-primary" style="height:150px; font-size:30pt; " name="Convincer" type="submit">
    		<span>Convincer</span>
    		<i class="fa fa-comment" style="font-size:30px; vertical-align: middle;"></i>
    	</button>
</div>
<div class="row" style="margin-top:65px">
		<button class="col-md-4 col-md-offset-4 btn btn-large btn-primary" style="height:150px; font-size:30pt;"  name="ddd" type="submit">
    		<span>Convincee</span>
    		<i class="fa fa-comment" style="font-size:30px; vertical-align: middle;"></i>
    	</button>
</div>

